<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokedex</title>
  <link rel="stylesheet" href="/public/index.css">
</head>
<body>
    <h1>Pokedex</h1>
    <a href="/pokemon/new">
    <button>Add New Item</button>
    <% for(let i=0; i < data.length; i++){%>
    <h2><%=data[i].name %></h2>
    <img src="<%=data[i].img %>" alt="" />
      <ul> 
        
      <% const type=data[i].type %>
      <% for(let j=0; j < type.length; j++){ %>
      <li><a href="/pokemon/"></a>
        <%= type[j] %>
      </li>
         <% } %>
      </ul>
      <%}%>
  
</body>
</html>