body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: Helvetica;
  background-color: black;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  background-color: #F03F3C;
}

div {
  font-size: 20px;
  margin: 10px;
  color: #FFFFFF;

}

header {
  height: 150px;
  text-align: center;
  background-color: lightgrey;
  padding: 50px;
}

ul {
  list-style: none;
}

section {
  text-align: center;
}